﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="shortcut icon" href="https://raffinato.inf.br//img/site/980/favicon.png">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")


</head>
<body>
    <nav class="navbar navbar-expand-md">

        @Html.ActionLink("Task Manager", "Index", "Home", new { values = "" }, new { @class = "navbar-brand" })


        @if (Request.IsAuthenticated)
        {
            <ul class="nav navbar-nav ml-5">

                <li class="nav-item"> @Html.ActionLink("Início", "Index", "Home", new { values = "" }, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Sobre", "About", "Home", new { values = "" }, new { @class = "nav-link" }) </li>
                <li class="nav-item"> @Html.ActionLink("Criar Tarefa", "Create", "Task", new { values = "" }, new { @class = "nav-link" }) </li>

            </ul>
        }
        <div class="navbar-nav ml-auto">

            @Html.Partial("_LoginPartial")

        </div>

    </nav>
    <div class="container body-content">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Site")
    @RenderSection("scripts", required: false)

    <script src="https://kit.fontawesome.com/a9ac0074d7.js"></script>


</body>
</html>
