﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right form-inline" }))
        {

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav mr-4">
            <li class="nav-item">
                @Html.ActionLink("Olá " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="ml-3">Sair</a>
            </li>
        </ul>
        }
}
else
{
    <ul class="navbar-nav flex-row float-right">
        <li class="nav-item">
            @Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "registerLink", @class = "nav-link" })
        </li>

        <li class="nav-item">
            @Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}
