﻿@using webapp.Models

@model LoginViewModel

<div class="row justify-content-center">
    <div class="col-md-5">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="card">

                    <h4 class="ml-4 mt-4"> Login </h4>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-11 ml-3">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            </div>

                        <div class="form-group">
                            <div class="col-md-11 ml-3">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-12" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-10 mt-4 text-center">
                            <button type="submit" class="btn btn-sm btn-success">Entrar</button>

                            <div class="custom-control custom-checkbox float-right d-inline">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input", @id = "remember" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label", @for = "remember" })
                            </div>

                        </div>

                        @if (@ViewBag.Error != null)
                        {
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }   
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}