﻿@model webapp.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h4 class="ml-4 mt-4"> Criar nova conta </h4>

                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group ml-3">
                        <div class="col-md-10 offset-md-1">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ml-3">
                        <div class="col-md-10 offset-md-1">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ml-3">
                        <div class="col-md-10 offset-md-1">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Registrar" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
