﻿@model webapp.Models.Tasks

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">

                <div class="card-body">
                    <div class="col-md-10 offset-md-1">
                        <h4>
                            @ViewBag.PageName
                        </h4>
                    </div>

                    @using (Html.BeginForm("Update", "Task", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-group col-md-10 offset-md-1">

                            @Html.LabelFor(m => m.Name, new { @class = "control-label"})
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", value = Model.Name })

                        </div>

                        <div class="form-group col-md-10 offset-md-1">

                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                            @Html.TextArea("Description", null, new { @class = "form-control", value = Model.Description  })

                        </div>

                        <div class="form-group col-md-10 offset-md-1">
                            @Html.DropDownList("Classification", null, new { @class = "custom-select", value = Model.Classification})
                        </div>

                        <div class="form-group col-md-10 offset-md-1">

                            <input type="hidden" value="@ViewData["Date"]" id="DateTime" />
                            <input type="hidden" value="@Model.Classification" id="HiddenClassification" />

                            @Html.LabelFor(m => m.DeadLine, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DeadLine, new { type = "date", @class = "form-control" })

                        </div>

                        <div class="col-md-10 offset-md-1">
                            <input type="submit" class="btn btn-primary" value="Atualizar" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>



