﻿@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: #eee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #f37022;
    justify-content: inherit;
}

a {
    color: white;
}

a:hover {
    color: white;
}
