﻿<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">

            <div class="col-md-2">
                <h3 class="mt-4 ml-4">@ViewBag.Title</h3>
            </div>

            <div class="card-body ml-4">
                <p>Task Manager é uma aplicação que eu faço toda a vez que eu preciso aprender uma tecnologia nova.
                O princípio básico da aplicação é possibilitar o usuário criar lembretes para suas tarefas diárias, para criar uma tarefa
                você precisa de um nome, por exemplo, "Encontrar idéias para um TCC bem Top", uma descrição: "Para iniciar meu TCC é preciso ler muitos artigos etc", um deadline 
                que representa a data final para a realização da tarefa, e uma classificação. </p>
                <p>A classificação das tarefas é baseada em quatro tipos, a classe <b>Nice</b> é voltada
                para as tarefas cujo <i>deadline</i> está muito longe, <b>There's time</b> representa as tarefas que estão a uma distância de tempo confortável, <b>Danger</b> agrupa as tarefas que 
                tem certo perigo de a desgraça acontecer e <b>Late</b> equivale as tarefas que estão atrasadas e que não te deixam dormir.</p>

            </div>

        </div> 
    </div>
</div>