﻿@model webapp.Models.TasksListModel

@{
    ViewBag.Title = "Home Page";
}

    <div class="row bg-light p-3">

        <div class="col-md-3">
            <h4 class="text-center text-danger"> Late </h4>
            @if (Model.LateList != null)
            {
                foreach (var item in Model.LateList)
                {
                    <div class="card bg-danger mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <span class="badge badge-light"> @item.DeadLine.ToString("dd/MM/yyyy") </span>

                            <a href='@Url.Action("Update", "Task", new { id = item.Id})' class="btn btn-small ml-4 bg-dark" role="button">
                                <i class="far fa-edit text-light"></i>
                            </a>
                            <a href='@Url.Action("Delete", "Task", new { id = item.Id})' class="btn btn-small bg-dark" role="button">
                                <i class="fas fa-trash-alt text-light"></i>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col-md-3">
            <h4 class="text-center text-warning"> Danger </h4>
            @if (Model.DangerList != null) { 
                foreach (var item in Model.DangerList)
                {
                    <div class="card bg-warning mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <span class="badge badge-light">@item.DeadLine.ToString("dd/MM/yyyy") </span>

                            <a href='@Url.Action("Update", "Task", new { id = item.Id})' class="btn btn-small ml-4 bg-dark" role="button">
                                <i class="far fa-edit text-light"></i>
                            </a>
                            <a href='@Url.Action("Delete", "Task", new { id = item.Id})' class="btn btn-small bg-dark" role="button">
                                <i class="fas fa-trash-alt text-light"></i>
                            </a>
                        </div>
                    </div>
                  }
            }
        </div>

        <div class="col-md-3">
            <h4 class="text-center text-info"> There's Time </h4>
            @if (Model.TheresTimeList != null)
            {
                foreach (var item in Model.TheresTimeList)
                {
                    <div class="card bg-info mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <span class="badge badge-light"> @item.DeadLine.ToString("dd/MM/yyyy") </span>

                            <a href='@Url.Action("Update", "Task", new { id = item.Id})' class="btn btn-small ml-4 bg-dark" role="button">
                                <i class="far fa-edit text-light"></i>
                            </a>
                            <a href='@Url.Action("Delete", "Task", new { id = item.Id})' class="btn btn-small bg-dark" role="button">
                                <i class="fas fa-trash-alt text-light"></i>
                            </a>
                        </div>
                    </div>
                }
            }
            </div>

        <div class="col-md-3">
            <h4 class="text-center text-success"> Nice </h4>
            @if (Model.NiceList != null) 
            {
                foreach (var item in Model.NiceList)
                {
                    <div class="card bg-success mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <span class="badge badge-light"> @item.DeadLine.ToString("dd/MM/yyyy") </span>

                            <a href = '@Url.Action("Update", "Task", new { id = item.Id})' class="btn btn-small ml-4 bg-dark" role="button">
                                <i class="far fa-edit text-light"></i>
                            </a>
                            <a href = '@Url.Action("Delete", "Task", new { id = item.Id})' class="btn btn-small bg-dark" role="button">
                                <i class="fas fa-trash-alt text-light"></i>
                            </a>
                        </div>
                    </div>
                 }
             }

        </div>
    </div>