﻿@{ var teste = "HELLO WORLD!!!!!"; }

<div class="row">
    <div class="col-md-4">
        <p>O valor da variável teste é: @teste</p>
        <p> ViewBag Value: @ViewBag.name </p>
        <p> @DateTime.Now </p>
    </div>

    <div class="col-md-4">
        @if (IsPost)
        {
            <p> É post</p>
        }
        else
        {
            <p> É get </p>
        }
        <p> @DateTime.Today </p>
    </div>

    <div class="col-md-4">
    </div>

</div>